**PySpark ETL**

Goal: To get raw data from S3 into an RDS database
* user_data.csv
* user_payment.csv

S3 bucket already created and files are made public.

"mydataclass-db" database created in pgAdmin.

In [ ]:
# Install Java, Spark, and Findspark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

In [ ]:
# Download a Postgres driver that will allow Spark to interact with Postgres
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2020-05-01 23:32:45--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar’

postgresql-42.2.9.j 100%[===================>] 892.61K  4.70MB/s    in 0.2s

2020-05-01 23:32:45 (4.70 MB/s) - ‘postgresql-42.2.9.jar’ saved [914037/914037]

In [ ]:
# Start a Spark session with the additional option that adds the driver to Spark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

# **EXTRACT**
Connect to data storage, then extract that data into a DataFrame.

In [ ]:
# Read in user_data from S3 Buckets
from pyspark import SparkFiles
url ="https://mc-databootcamp-bucket.s3-us-west-1.amazonaws.com/user_data.csv"
spark.sparkContext.addFile(url)
user_data_df = spark.read.csv(SparkFiles.get("user_data.csv"), sep=",", header=True, inferSchema=True)

# Show DataFrame
user_data_df.show()

+---+----------+---------+-----------+--------------------+--------------------+------------+
| id|first_name|last_name|active_user|      street_address|               state|    username|
+---+----------+---------+-----------+--------------------+--------------------+------------+
|  1|    Cletus|  Lithcow|      false| 78309 Riverside Way|            Virginia|   ibearham0|
|  2|       Caz|   Felgat|      false| 83 Hazelcrest Place|             Alabama|    wwaller1|
|  3|     Kerri|  Crowson|      false|      112 Eliot Pass|      North Carolina|   ichesnut2|
|  4|   Freddie|    Caghy|      false|     15 Merchant Way|            New York|     tsnarr3|
|  5|   Sadella|    Deuss|      false|    079 Acker Avenue|           Tennessee|   fwherrit4|
|  6|    Fraser|  Korneev|       true|  76084 Novick Court|           Minnesota|  fstappard5|
|  7|    Demott|   Rapson|       true|    86320 Dahle Park|District of Columbia|  lhambling6|
|  8|    Robert|    Poile|      false|1540 Manitowish Hill|             Georgia|      drude7|
|  9|    Nollie|     null|       true|       4 Katie Court|                Ohio|   bspawton8|
| 10|   Merilyn| Frascone|      false|     387 Duke Street|                Ohio| rmackeller9|
| 11|    Rickie| Tredwell|      false|  04 Monterey Center|            Missouri| cdennerleya|
| 12|  Charmane| Connerry|      false|    0 Larry Junction|             Florida|    gsarfasb|
| 13|     Nerti|   Kerins|      false|    68 Portage Trail|          California| mpichefordc|
| 14|      Bart|     null|      false|    8 Homewood Court|District of Columbia|     bingryd|
| 15|   Sadella|    Jaram|       true|7528 Waxwing Terrace|         Connecticut|   wheinerte|
| 16|     Dicky|  Runnett|      false|  1793 Delaware Park|             Florida|    mdrewetf|
| 17|    Hewitt|  Trammel|       true|    2455 Corry Alley|      North Carolina|droughsedgeg|
| 18|  Gilligan|     Boys|      false|       2 Raven Court|             Florida|     abaakeh|
| 19|       Ted|  Knowlys|       true|      31 South Drive|                Ohio|   ydudeniei|
| 20|      Darb|   Carrel|      false|406 Park Meadow C...|           Minnesota|   ckermittj|
+---+----------+---------+-----------+--------------------+--------------------+------------+
only showing top 20 rows

In [ ]:
# Read in user_payment data from S3 Buckets
url ="https://mc-databootcamp-bucket.s3-us-west-1.amazonaws.com/user_payment.csv"
spark.sparkContext.addFile(url)
user_payment_df = spark.read.csv(SparkFiles.get("user_payment.csv"), sep=",", header=True, inferSchema=True)

# Show DataFrame
user_payment_df.show()

+----------+------------+--------------------+
|billing_id|    username|        cc_encrypted|
+----------+------------+--------------------+
|         1|   ibearham0|a799fcafe47d7fb19...|
|         2|    wwaller1|a799fcafe47d7fb19...|
|         3|   ichesnut2|a799fcafe47d7fb19...|
|         4|     tsnarr3|a799fcafe47d7fb19...|
|         5|   fwherrit4|a799fcafe47d7fb19...|
|         6|  fstappard5|a799fcafe47d7fb19...|
|         7|  lhambling6|a799fcafe47d7fb19...|
|         8|      drude7|a799fcafe47d7fb19...|
|         9|   bspawton8|a799fcafe47d7fb19...|
|        10| rmackeller9|a799fcafe47d7fb19...|
|        11| cdennerleya|a799fcafe47d7fb19...|
|        12|    gsarfasb|a799fcafe47d7fb19...|
|        13| mpichefordc|a799fcafe47d7fb19...|
|        14|     bingryd|a799fcafe47d7fb19...|
|        15|   wheinerte|a799fcafe47d7fb19...|
|        16|    mdrewetf|a799fcafe47d7fb19...|
|        17|droughsedgeg|a799fcafe47d7fb19...|
|        18|     abaakeh|a799fcafe47d7fb19...|
|        19|   ydudeniei|a799fcafe47d7fb19...|
|        20|   ckermittj|a799fcafe47d7fb19...|
+----------+------------+--------------------+
only showing top 20 rows

# **TRANSFORM**
Now that the raw data stored in S3 is available in a PySpark DataFrame, perform transformations.

In [ ]:
# Join the two DataFrames
joined_df = user_data_df.join(user_payment_df, on="username", how="inner")
joined_df.show(50)

+-------------+---+----------+-----------+-----------+--------------------+--------------------+----------+--------------------+
|     username| id|first_name|  last_name|active_user|      street_address|               state|billing_id|        cc_encrypted|
+-------------+---+----------+-----------+-----------+--------------------+--------------------+----------+--------------------+
|    ibearham0|  1|    Cletus|    Lithcow|      false| 78309 Riverside Way|            Virginia|         1|a799fcafe47d7fb19...|
|     wwaller1|  2|       Caz|     Felgat|      false| 83 Hazelcrest Place|             Alabama|         2|a799fcafe47d7fb19...|
|    ichesnut2|  3|     Kerri|    Crowson|      false|      112 Eliot Pass|      North Carolina|         3|a799fcafe47d7fb19...|
|      tsnarr3|  4|   Freddie|      Caghy|      false|     15 Merchant Way|            New York|         4|a799fcafe47d7fb19...|
|    fwherrit4|  5|   Sadella|      Deuss|      false|    079 Acker Avenue|           Tennessee|         5|a799fcafe47d7fb19...|
|   fstappard5|  6|    Fraser|    Korneev|       true|  76084 Novick Court|           Minnesota|         6|a799fcafe47d7fb19...|
|   lhambling6|  7|    Demott|     Rapson|       true|    86320 Dahle Park|District of Columbia|         7|a799fcafe47d7fb19...|
|       drude7|  8|    Robert|      Poile|      false|1540 Manitowish Hill|             Georgia|         8|a799fcafe47d7fb19...|
|    bspawton8|  9|    Nollie|       null|       true|       4 Katie Court|                Ohio|         9|a799fcafe47d7fb19...|
|  rmackeller9| 10|   Merilyn|   Frascone|      false|     387 Duke Street|                Ohio|        10|a799fcafe47d7fb19...|
|  cdennerleya| 11|    Rickie|   Tredwell|      false|  04 Monterey Center|            Missouri|        11|a799fcafe47d7fb19...|
|     gsarfasb| 12|  Charmane|   Connerry|      false|    0 Larry Junction|             Florida|        12|a799fcafe47d7fb19...|
|  mpichefordc| 13|     Nerti|     Kerins|      false|    68 Portage Trail|          California|        13|a799fcafe47d7fb19...|
|      bingryd| 14|      Bart|       null|      false|    8 Homewood Court|District of Columbia|        14|a799fcafe47d7fb19...|
|    wheinerte| 15|   Sadella|      Jaram|       true|7528 Waxwing Terrace|         Connecticut|        15|a799fcafe47d7fb19...|
|     mdrewetf| 16|     Dicky|    Runnett|      false|  1793 Delaware Park|             Florida|        16|a799fcafe47d7fb19...|
| droughsedgeg| 17|    Hewitt|    Trammel|       true|    2455 Corry Alley|      North Carolina|        17|a799fcafe47d7fb19...|
|      abaakeh| 18|  Gilligan|       Boys|      false|       2 Raven Court|             Florida|        18|a799fcafe47d7fb19...|
|    ydudeniei| 19|       Ted|    Knowlys|       true|      31 South Drive|                Ohio|        19|a799fcafe47d7fb19...|
|    ckermittj| 20|      Darb|     Carrel|      false|406 Park Meadow C...|           Minnesota|        20|a799fcafe47d7fb19...|
|      ipowisk| 21|   Diandra|  Cancellor|      false|      1 Fisk Parkway|      North Carolina|        21|a799fcafe47d7fb19...|
|     dtaltonl| 22|    Ulrika|   Itzhayek|      false|  890 Lakewood Alley|          California|        22|a799fcafe47d7fb19...|
|     fmyttonm| 23|  Annmarie|     Lafond|       true|     35 Oriole Place|             Georgia|        23|a799fcafe47d7fb19...|
|     sportern| 24|    Lolita|    Cleever|      false| 0 Crescent Oaks Way|      North Carolina|        24|a799fcafe47d7fb19...|
|       ccruso| 25| Carmelita|Di Ruggiero|      false|   5 Monterey Street|               Texas|        25|a799fcafe47d7fb19...|
|   croscampsp| 26|    Travus|   Bembrigg|      false|   2022 Fulton Trail|               Texas|        26|a799fcafe47d7fb19...|
|    aklempkeq| 27|    Regina|      Duval|      false|   733 Harbort Alley|             Florida|        27|a799fcafe47d7fb19...|
|   bfletcherr| 28|      Toma|     Sokell|       true|39641 Eggendart Hill|            Maryland|        28|a799fcafe47d7fb19...|
|       egerts| 29|    Jaymie|       null|      false|  2026 Nancy Parkway|              Oregon|        29|a799fcafe47d7fb19...|
|     gturleyt| 30|       Ram|    Lefever|       true|   9969 Laurel Alley|               Texas|        30|a799fcafe47d7fb19...|
|    calyukinu| 31|    Raddie|    Heindle|       true|   811 Talmadge Road|                Ohio|        31|a799fcafe47d7fb19...|
|   sdekeyserv| 32|     Bamby|    Searles|      false|     82 2nd Crossing|            Virginia|        32|a799fcafe47d7fb19...|
| ckleinlererw| 33|    Wallie|       Caws|       true|   9999 Kenwood Pass|              Oregon|        33|a799fcafe47d7fb19...|
|  pshanklandx| 34|    Derril|Varfolomeev|       true|     4 Jenifer Court|             Florida|        34|a799fcafe47d7fb19...|
|  cfishbourny| 35|      Noby|  Hatherill|      false|   8474 Gateway Hill|             Indiana|        35|a799fcafe47d7fb19...|
|     sklamptz| 36|    Cicily|    Malicki|      false|6137 Claremont Place|                Ohio|        36|a799fcafe47d7fb19...|
| babbatucci10| 37|   Doralia|     Blench|      false|07796 Northwester...|            New York|        37|a799fcafe47d7fb19...|
|   csineath11| 38|     Meggi| Feaveryear|      false|   8 Farragut Street|           Tennessee|        38|a799fcafe47d7fb19...|
|    enelane12| 39|     Kelcy|     Wheway|       true|93207 Morningstar...|             Florida|        39|a799fcafe47d7fb19...|
|    sfollet13| 40|    Dorree|    Rookeby|       true|       2 Troy Circle|          California|        40|a799fcafe47d7fb19...|
|      mtesh14| 41|    Martyn|       Tott|       true|       728 Muir Lane|             Florida|        41|a799fcafe47d7fb19...|
|  ahaulkham15| 42|      Dunn|     Strand|      false|   107 Sycamore Lane|            Michigan|        42|a799fcafe47d7fb19...|
|   tseyfart16| 43|     Cally|      Thody|       true|   1 Graceland Plaza|             Florida|        43|a799fcafe47d7fb19...|
|   afrankis17| 44|   Christy|    Hardman|      false|     570 Helena Road|          California|        44|a799fcafe47d7fb19...|
|   hfarrier18| 45|       Ted|   Pittaway|       true|767 Little Fleur ...|      North Carolina|        45|a799fcafe47d7fb19...|
|bmalinowski19| 46| Teodorico|   Crannell|      false|   86 Victoria Alley|            Colorado|        46|a799fcafe47d7fb19...|
|   rhartnup1a| 47|     Lucia| Dymidowicz|      false|93661 Browning Alley|        Pennsylvania|        47|a799fcafe47d7fb19...|
|     nabbie1b| 48|      Fifi|    Lidgley|       true|6744 Sutherland Road|      South Carolina|        48|a799fcafe47d7fb19...|
|       wyea1c| 49| Broderick|     Sherry|      false|      7 Banding Park|               Texas|        49|a799fcafe47d7fb19...|
|  ystadding1d| 50|    Ashely|     O'Hern|       true|   929 Scoville Park|             Florida|        50|a799fcafe47d7fb19...|
+-------------+---+----------+-----------+-----------+--------------------+--------------------+----------+--------------------+
only showing top 50 rows

In [ ]:
# Droll null values
dropna_df = joined_df.dropna()
dropna_df.show(50)

+-------------+---+----------+-----------+-----------+--------------------+--------------------+----------+--------------------+
|     username| id|first_name|  last_name|active_user|      street_address|               state|billing_id|        cc_encrypted|
+-------------+---+----------+-----------+-----------+--------------------+--------------------+----------+--------------------+
|    ibearham0|  1|    Cletus|    Lithcow|      false| 78309 Riverside Way|            Virginia|         1|a799fcafe47d7fb19...|
|     wwaller1|  2|       Caz|     Felgat|      false| 83 Hazelcrest Place|             Alabama|         2|a799fcafe47d7fb19...|
|    ichesnut2|  3|     Kerri|    Crowson|      false|      112 Eliot Pass|      North Carolina|         3|a799fcafe47d7fb19...|
|      tsnarr3|  4|   Freddie|      Caghy|      false|     15 Merchant Way|            New York|         4|a799fcafe47d7fb19...|
|    fwherrit4|  5|   Sadella|      Deuss|      false|    079 Acker Avenue|           Tennessee|         5|a799fcafe47d7fb19...|
|   fstappard5|  6|    Fraser|    Korneev|       true|  76084 Novick Court|           Minnesota|         6|a799fcafe47d7fb19...|
|   lhambling6|  7|    Demott|     Rapson|       true|    86320 Dahle Park|District of Columbia|         7|a799fcafe47d7fb19...|
|       drude7|  8|    Robert|      Poile|      false|1540 Manitowish Hill|             Georgia|         8|a799fcafe47d7fb19...|
|  rmackeller9| 10|   Merilyn|   Frascone|      false|     387 Duke Street|                Ohio|        10|a799fcafe47d7fb19...|
|  cdennerleya| 11|    Rickie|   Tredwell|      false|  04 Monterey Center|            Missouri|        11|a799fcafe47d7fb19...|
|     gsarfasb| 12|  Charmane|   Connerry|      false|    0 Larry Junction|             Florida|        12|a799fcafe47d7fb19...|
|  mpichefordc| 13|     Nerti|     Kerins|      false|    68 Portage Trail|          California|        13|a799fcafe47d7fb19...|
|    wheinerte| 15|   Sadella|      Jaram|       true|7528 Waxwing Terrace|         Connecticut|        15|a799fcafe47d7fb19...|
|     mdrewetf| 16|     Dicky|    Runnett|      false|  1793 Delaware Park|             Florida|        16|a799fcafe47d7fb19...|
| droughsedgeg| 17|    Hewitt|    Trammel|       true|    2455 Corry Alley|      North Carolina|        17|a799fcafe47d7fb19...|
|      abaakeh| 18|  Gilligan|       Boys|      false|       2 Raven Court|             Florida|        18|a799fcafe47d7fb19...|
|    ydudeniei| 19|       Ted|    Knowlys|       true|      31 South Drive|                Ohio|        19|a799fcafe47d7fb19...|
|    ckermittj| 20|      Darb|     Carrel|      false|406 Park Meadow C...|           Minnesota|        20|a799fcafe47d7fb19...|
|      ipowisk| 21|   Diandra|  Cancellor|      false|      1 Fisk Parkway|      North Carolina|        21|a799fcafe47d7fb19...|
|     dtaltonl| 22|    Ulrika|   Itzhayek|      false|  890 Lakewood Alley|          California|        22|a799fcafe47d7fb19...|
|     fmyttonm| 23|  Annmarie|     Lafond|       true|     35 Oriole Place|             Georgia|        23|a799fcafe47d7fb19...|
|     sportern| 24|    Lolita|    Cleever|      false| 0 Crescent Oaks Way|      North Carolina|        24|a799fcafe47d7fb19...|
|       ccruso| 25| Carmelita|Di Ruggiero|      false|   5 Monterey Street|               Texas|        25|a799fcafe47d7fb19...|
|   croscampsp| 26|    Travus|   Bembrigg|      false|   2022 Fulton Trail|               Texas|        26|a799fcafe47d7fb19...|
|    aklempkeq| 27|    Regina|      Duval|      false|   733 Harbort Alley|             Florida|        27|a799fcafe47d7fb19...|
|   bfletcherr| 28|      Toma|     Sokell|       true|39641 Eggendart Hill|            Maryland|        28|a799fcafe47d7fb19...|
|     gturleyt| 30|       Ram|    Lefever|       true|   9969 Laurel Alley|               Texas|        30|a799fcafe47d7fb19...|
|    calyukinu| 31|    Raddie|    Heindle|       true|   811 Talmadge Road|                Ohio|        31|a799fcafe47d7fb19...|
|   sdekeyserv| 32|     Bamby|    Searles|      false|     82 2nd Crossing|            Virginia|        32|a799fcafe47d7fb19...|
| ckleinlererw| 33|    Wallie|       Caws|       true|   9999 Kenwood Pass|              Oregon|        33|a799fcafe47d7fb19...|
|  pshanklandx| 34|    Derril|Varfolomeev|       true|     4 Jenifer Court|             Florida|        34|a799fcafe47d7fb19...|
|  cfishbourny| 35|      Noby|  Hatherill|      false|   8474 Gateway Hill|             Indiana|        35|a799fcafe47d7fb19...|
|     sklamptz| 36|    Cicily|    Malicki|      false|6137 Claremont Place|                Ohio|        36|a799fcafe47d7fb19...|
| babbatucci10| 37|   Doralia|     Blench|      false|07796 Northwester...|            New York|        37|a799fcafe47d7fb19...|
|   csineath11| 38|     Meggi| Feaveryear|      false|   8 Farragut Street|           Tennessee|        38|a799fcafe47d7fb19...|
|    enelane12| 39|     Kelcy|     Wheway|       true|93207 Morningstar...|             Florida|        39|a799fcafe47d7fb19...|
|    sfollet13| 40|    Dorree|    Rookeby|       true|       2 Troy Circle|          California|        40|a799fcafe47d7fb19...|
|      mtesh14| 41|    Martyn|       Tott|       true|       728 Muir Lane|             Florida|        41|a799fcafe47d7fb19...|
|  ahaulkham15| 42|      Dunn|     Strand|      false|   107 Sycamore Lane|            Michigan|        42|a799fcafe47d7fb19...|
|   tseyfart16| 43|     Cally|      Thody|       true|   1 Graceland Plaza|             Florida|        43|a799fcafe47d7fb19...|
|   afrankis17| 44|   Christy|    Hardman|      false|     570 Helena Road|          California|        44|a799fcafe47d7fb19...|
|   hfarrier18| 45|       Ted|   Pittaway|       true|767 Little Fleur ...|      North Carolina|        45|a799fcafe47d7fb19...|
|bmalinowski19| 46| Teodorico|   Crannell|      false|   86 Victoria Alley|            Colorado|        46|a799fcafe47d7fb19...|
|   rhartnup1a| 47|     Lucia| Dymidowicz|      false|93661 Browning Alley|        Pennsylvania|        47|a799fcafe47d7fb19...|
|     nabbie1b| 48|      Fifi|    Lidgley|       true|6744 Sutherland Road|      South Carolina|        48|a799fcafe47d7fb19...|
|       wyea1c| 49| Broderick|     Sherry|      false|      7 Banding Park|               Texas|        49|a799fcafe47d7fb19...|
|  ystadding1d| 50|    Ashely|     O'Hern|       true|   929 Scoville Park|             Florida|        50|a799fcafe47d7fb19...|
|    plegion1e| 51|      Mack|      Tiner|      false|5967 Kensington Hill|              Nevada|        51|a799fcafe47d7fb19...|
|     reasun1f| 52|  Gerrilee|    Searsby|      false| 91 Anniversary Pass|        Pennsylvania|        52|a799fcafe47d7fb19...|
|hhallgalley1g| 53|   Diannne|Osbaldeston|       true|        0 Mesta Pass|           Tennessee|        53|a799fcafe47d7fb19...|
+-------------+---+----------+-----------+-----------+--------------------+--------------------+----------+--------------------+
only showing top 50 rows

In [ ]:
# Load in a sql function to use columns
from pyspark.sql.functions import col

# Filter for only columns with active users
cleaned_df = dropna_df.filter(col("active_user") == True)
cleaned_df.show(50)

+-------------+---+-----------+-----------+-----------+--------------------+--------------------+----------+--------------------+
|     username| id| first_name|  last_name|active_user|      street_address|               state|billing_id|        cc_encrypted|
+-------------+---+-----------+-----------+-----------+--------------------+--------------------+----------+--------------------+
|   fstappard5|  6|     Fraser|    Korneev|       true|  76084 Novick Court|           Minnesota|         6|a799fcafe47d7fb19...|
|   lhambling6|  7|     Demott|     Rapson|       true|    86320 Dahle Park|District of Columbia|         7|a799fcafe47d7fb19...|
|    wheinerte| 15|    Sadella|      Jaram|       true|7528 Waxwing Terrace|         Connecticut|        15|a799fcafe47d7fb19...|
| droughsedgeg| 17|     Hewitt|    Trammel|       true|    2455 Corry Alley|      North Carolina|        17|a799fcafe47d7fb19...|
|    ydudeniei| 19|        Ted|    Knowlys|       true|      31 South Drive|                Ohio|        19|a799fcafe47d7fb19...|
|     fmyttonm| 23|   Annmarie|     Lafond|       true|     35 Oriole Place|             Georgia|        23|a799fcafe47d7fb19...|
|   bfletcherr| 28|       Toma|     Sokell|       true|39641 Eggendart Hill|            Maryland|        28|a799fcafe47d7fb19...|
|     gturleyt| 30|        Ram|    Lefever|       true|   9969 Laurel Alley|               Texas|        30|a799fcafe47d7fb19...|
|    calyukinu| 31|     Raddie|    Heindle|       true|   811 Talmadge Road|                Ohio|        31|a799fcafe47d7fb19...|
| ckleinlererw| 33|     Wallie|       Caws|       true|   9999 Kenwood Pass|              Oregon|        33|a799fcafe47d7fb19...|
|  pshanklandx| 34|     Derril|Varfolomeev|       true|     4 Jenifer Court|             Florida|        34|a799fcafe47d7fb19...|
|    enelane12| 39|      Kelcy|     Wheway|       true|93207 Morningstar...|             Florida|        39|a799fcafe47d7fb19...|
|    sfollet13| 40|     Dorree|    Rookeby|       true|       2 Troy Circle|          California|        40|a799fcafe47d7fb19...|
|      mtesh14| 41|     Martyn|       Tott|       true|       728 Muir Lane|             Florida|        41|a799fcafe47d7fb19...|
|   tseyfart16| 43|      Cally|      Thody|       true|   1 Graceland Plaza|             Florida|        43|a799fcafe47d7fb19...|
|   hfarrier18| 45|        Ted|   Pittaway|       true|767 Little Fleur ...|      North Carolina|        45|a799fcafe47d7fb19...|
|     nabbie1b| 48|       Fifi|    Lidgley|       true|6744 Sutherland Road|      South Carolina|        48|a799fcafe47d7fb19...|
|  ystadding1d| 50|     Ashely|     O'Hern|       true|   929 Scoville Park|             Florida|        50|a799fcafe47d7fb19...|
|hhallgalley1g| 53|    Diannne|Osbaldeston|       true|        0 Mesta Pass|           Tennessee|        53|a799fcafe47d7fb19...|
|   ageaveny1n| 60|      Sonny|     Jeskin|       true| 50 Sutherland Drive|       Massachusetts|        60|a799fcafe47d7fb19...|
|  nabramsky1q| 63|      Aguie|       Wark|       true|     367 Fulton Park|                Ohio|        63|a799fcafe47d7fb19...|
| eblackboro1u| 67|Archambault|     Hulmes|       true| 7345 Anthes Parkway|             Florida|        67|a799fcafe47d7fb19...|
| mmatuschek1w| 69|     Hayden|    Stubbin|       true| 2290 Anzinger Alley|              Alaska|        69|a799fcafe47d7fb19...|
|     nruegg1x| 70|  Marmaduke|     Malloy|       true|   722 Beilfuss Hill|          Washington|        70|a799fcafe47d7fb19...|
|    sdobing1y| 71|    Richart|    Doodney|       true|  074 Cordelia Plaza|             Indiana|        71|a799fcafe47d7fb19...|
|       cord20| 73|   Kathleen|      Kohen|       true|98944 Golf View P...|           Minnesota|        73|a799fcafe47d7fb19...|
|     ghearl23| 76|       Roby|     Pichan|       true|162 Schmedeman Trail|             Florida|        76|a799fcafe47d7fb19...|
|  aheaseman24| 77|       Town|       Cust|       true| 1673 Warbler Street|            New York|        77|a799fcafe47d7fb19...|
|    ghullot25| 78|      Conny|   Victoria|       true| 54 Eagle Crest Park|        Pennsylvania|        78|a799fcafe47d7fb19...|
|   bfollett26| 79|   Phillida|     Hiscoe|       true| 7925 Butternut Pass|      North Carolina|        79|a799fcafe47d7fb19...|
|    neaklee27| 80|      Zolly|      Bough|       true|  5854 Swallow Court|           Louisiana|        80|a799fcafe47d7fb19...|
|  csimonett2b| 84|        Axe|  Bolderson|       true|   86 Hansons Circle|            Missouri|        84|a799fcafe47d7fb19...|
|    mmickan2c| 85|  Betteanne|   Whittock|       true|        9 Lyons Hill|            New York|        85|a799fcafe47d7fb19...|
|   bvenmore2d| 86|     Lewiss|   Hargrave|       true| 55964 Spaight Plaza|          California|        86|a799fcafe47d7fb19...|
|   jwaberer2f| 88|     Delmer|     Walley|       true|923 Brickson Park...|             Georgia|        88|a799fcafe47d7fb19...|
|   gmeekins2k| 93|    Cornell|   Enrietto|       true|    465 Hansons Road|       West Virginia|        93|a799fcafe47d7fb19...|
|     dflury2m| 95|    Emanuel|     Blaine|       true|7560 Independence...|            New York|        95|a799fcafe47d7fb19...|
| ajovasevic2o| 97|     Lutero|       Wand|       true|      3 School Drive|         Connecticut|        97|a799fcafe47d7fb19...|
|     esalan2p| 98|     Gustaf|     Staten|       true|    5 Del Mar Circle|            Michigan|        98|a799fcafe47d7fb19...|
|      mcham2q| 99|     Emalia|     Kynett|       true|5719 Village Gree...|           Minnesota|        99|a799fcafe47d7fb19...|
|    bthoday2r|100|    Alanson|  Rushforth|       true| 662 Ridge Oak Drive|           Louisiana|       100|a799fcafe47d7fb19...|
|    mrabley2s|101|     Alexei|     Driver|       true|7 Meadow Ridge Trail|            Michigan|       101|a799fcafe47d7fb19...|
|    folczak2t|102|        Art|     Hawtry|       true|  194 Old Shore Park|        Pennsylvania|       102|a799fcafe47d7fb19...|
|     rtesto2x|106|      Nerta|   Penylton|       true|      930 Stang Road|         Mississippi|       106|a799fcafe47d7fb19...|
|  adomenici2y|107|       Vite|       Corp|       true|  07 Walton Junction|             Florida|       107|a799fcafe47d7fb19...|
|  lpawlicki32|111|       Dion|     Marcos|       true|         2 Marcy Way|        Pennsylvania|       111|a799fcafe47d7fb19...|
|    atitmus34|113|       Anna|      Myatt|       true|405 Monterey Parkway|            New York|       113|a799fcafe47d7fb19...|
|mhazelgrove35|114|     Stearn|    Joanaud|       true|13 Green Ridge Court|             Arizona|       114|a799fcafe47d7fb19...|
|diaduccelli36|115|     Yasmin|    Jarrard|       true|85291 Caliangt Pa...|               Texas|       115|a799fcafe47d7fb19...|
|   vcovotto3b|120|       Tome|  Cicchetto|       true|      8 Harbort Park|               Texas|       120|a799fcafe47d7fb19...|
+-------------+---+-----------+-----------+-----------+--------------------+--------------------+----------+--------------------+
only showing top 50 rows

In [ ]:
# Create a DataFrame to match the active_user table
clean_active_user_df = cleaned_df.select(["id", "first_name", "last_name", "username"])
clean_active_user_df.show(50)

+---+-----------+-----------+-------------+
| id| first_name|  last_name|     username|
+---+-----------+-----------+-------------+
|  6|     Fraser|    Korneev|   fstappard5|
|  7|     Demott|     Rapson|   lhambling6|
| 15|    Sadella|      Jaram|    wheinerte|
| 17|     Hewitt|    Trammel| droughsedgeg|
| 19|        Ted|    Knowlys|    ydudeniei|
| 23|   Annmarie|     Lafond|     fmyttonm|
| 28|       Toma|     Sokell|   bfletcherr|
| 30|        Ram|    Lefever|     gturleyt|
| 31|     Raddie|    Heindle|    calyukinu|
| 33|     Wallie|       Caws| ckleinlererw|
| 34|     Derril|Varfolomeev|  pshanklandx|
| 39|      Kelcy|     Wheway|    enelane12|
| 40|     Dorree|    Rookeby|    sfollet13|
| 41|     Martyn|       Tott|      mtesh14|
| 43|      Cally|      Thody|   tseyfart16|
| 45|        Ted|   Pittaway|   hfarrier18|
| 48|       Fifi|    Lidgley|     nabbie1b|
| 50|     Ashely|     O'Hern|  ystadding1d|
| 53|    Diannne|Osbaldeston|hhallgalley1g|
| 60|      Sonny|     Jeskin|   ageaveny1n|
| 63|      Aguie|       Wark|  nabramsky1q|
| 67|Archambault|     Hulmes| eblackboro1u|
| 69|     Hayden|    Stubbin| mmatuschek1w|
| 70|  Marmaduke|     Malloy|     nruegg1x|
| 71|    Richart|    Doodney|    sdobing1y|
| 73|   Kathleen|      Kohen|       cord20|
| 76|       Roby|     Pichan|     ghearl23|
| 77|       Town|       Cust|  aheaseman24|
| 78|      Conny|   Victoria|    ghullot25|
| 79|   Phillida|     Hiscoe|   bfollett26|
| 80|      Zolly|      Bough|    neaklee27|
| 84|        Axe|  Bolderson|  csimonett2b|
| 85|  Betteanne|   Whittock|    mmickan2c|
| 86|     Lewiss|   Hargrave|   bvenmore2d|
| 88|     Delmer|     Walley|   jwaberer2f|
| 93|    Cornell|   Enrietto|   gmeekins2k|
| 95|    Emanuel|     Blaine|     dflury2m|
| 97|     Lutero|       Wand| ajovasevic2o|
| 98|     Gustaf|     Staten|     esalan2p|
| 99|     Emalia|     Kynett|      mcham2q|
|100|    Alanson|  Rushforth|    bthoday2r|
|101|     Alexei|     Driver|    mrabley2s|
|102|        Art|     Hawtry|    folczak2t|
|106|      Nerta|   Penylton|     rtesto2x|
|107|       Vite|       Corp|  adomenici2y|
|111|       Dion|     Marcos|  lpawlicki32|
|113|       Anna|      Myatt|    atitmus34|
|114|     Stearn|    Joanaud|mhazelgrove35|
|115|     Yasmin|    Jarrard|diaduccelli36|
|120|       Tome|  Cicchetto|   vcovotto3b|
+---+-----------+-----------+-------------+
only showing top 50 rows

In [ ]:
# Create a DataFrame to match the billing_info table
clean_billing_info_df = cleaned_df.select(["billing_id", "street_address", "state", "username"])
clean_billing_info_df.show(50)

+----------+--------------------+--------------------+-------------+
|billing_id|      street_address|               state|     username|
+----------+--------------------+--------------------+-------------+
|         6|  76084 Novick Court|           Minnesota|   fstappard5|
|         7|    86320 Dahle Park|District of Columbia|   lhambling6|
|        15|7528 Waxwing Terrace|         Connecticut|    wheinerte|
|        17|    2455 Corry Alley|      North Carolina| droughsedgeg|
|        19|      31 South Drive|                Ohio|    ydudeniei|
|        23|     35 Oriole Place|             Georgia|     fmyttonm|
|        28|39641 Eggendart Hill|            Maryland|   bfletcherr|
|        30|   9969 Laurel Alley|               Texas|     gturleyt|
|        31|   811 Talmadge Road|                Ohio|    calyukinu|
|        33|   9999 Kenwood Pass|              Oregon| ckleinlererw|
|        34|     4 Jenifer Court|             Florida|  pshanklandx|
|        39|93207 Morningstar...|             Florida|    enelane12|
|        40|       2 Troy Circle|          California|    sfollet13|
|        41|       728 Muir Lane|             Florida|      mtesh14|
|        43|   1 Graceland Plaza|             Florida|   tseyfart16|
|        45|767 Little Fleur ...|      North Carolina|   hfarrier18|
|        48|6744 Sutherland Road|      South Carolina|     nabbie1b|
|        50|   929 Scoville Park|             Florida|  ystadding1d|
|        53|        0 Mesta Pass|           Tennessee|hhallgalley1g|
|        60| 50 Sutherland Drive|       Massachusetts|   ageaveny1n|
|        63|     367 Fulton Park|                Ohio|  nabramsky1q|
|        67| 7345 Anthes Parkway|             Florida| eblackboro1u|
|        69| 2290 Anzinger Alley|              Alaska| mmatuschek1w|
|        70|   722 Beilfuss Hill|          Washington|     nruegg1x|
|        71|  074 Cordelia Plaza|             Indiana|    sdobing1y|
|        73|98944 Golf View P...|           Minnesota|       cord20|
|        76|162 Schmedeman Trail|             Florida|     ghearl23|
|        77| 1673 Warbler Street|            New York|  aheaseman24|
|        78| 54 Eagle Crest Park|        Pennsylvania|    ghullot25|
|        79| 7925 Butternut Pass|      North Carolina|   bfollett26|
|        80|  5854 Swallow Court|           Louisiana|    neaklee27|
|        84|   86 Hansons Circle|            Missouri|  csimonett2b|
|        85|        9 Lyons Hill|            New York|    mmickan2c|
|        86| 55964 Spaight Plaza|          California|   bvenmore2d|
|        88|923 Brickson Park...|             Georgia|   jwaberer2f|
|        93|    465 Hansons Road|       West Virginia|   gmeekins2k|
|        95|7560 Independence...|            New York|     dflury2m|
|        97|      3 School Drive|         Connecticut| ajovasevic2o|
|        98|    5 Del Mar Circle|            Michigan|     esalan2p|
|        99|5719 Village Gree...|           Minnesota|      mcham2q|
|       100| 662 Ridge Oak Drive|           Louisiana|    bthoday2r|
|       101|7 Meadow Ridge Trail|            Michigan|    mrabley2s|
|       102|  194 Old Shore Park|        Pennsylvania|    folczak2t|
|       106|      930 Stang Road|         Mississippi|     rtesto2x|
|       107|  07 Walton Junction|             Florida|  adomenici2y|
|       111|         2 Marcy Way|        Pennsylvania|  lpawlicki32|
|       113|405 Monterey Parkway|            New York|    atitmus34|
|       114|13 Green Ridge Court|             Arizona|mhazelgrove35|
|       115|85291 Caliangt Pa...|               Texas|diaduccelli36|
|       120|      8 Harbort Park|               Texas|   vcovotto3b|
+----------+--------------------+--------------------+-------------+
only showing top 50 rows

In [ ]:
# Create a DataFrame to match the payment_info table
clean_payment_info_df = cleaned_df.select(["billing_id", "cc_encrypted"])
clean_payment_info_df.show(50)

+----------+--------------------+
|billing_id|        cc_encrypted|
+----------+--------------------+
|         6|a799fcafe47d7fb19...|
|         7|a799fcafe47d7fb19...|
|        15|a799fcafe47d7fb19...|
|        17|a799fcafe47d7fb19...|
|        19|a799fcafe47d7fb19...|
|        23|a799fcafe47d7fb19...|
|        28|a799fcafe47d7fb19...|
|        30|a799fcafe47d7fb19...|
|        31|a799fcafe47d7fb19...|
|        33|a799fcafe47d7fb19...|
|        34|a799fcafe47d7fb19...|
|        39|a799fcafe47d7fb19...|
|        40|a799fcafe47d7fb19...|
|        41|a799fcafe47d7fb19...|
|        43|a799fcafe47d7fb19...|
|        45|a799fcafe47d7fb19...|
|        48|a799fcafe47d7fb19...|
|        50|a799fcafe47d7fb19...|
|        53|a799fcafe47d7fb19...|
|        60|a799fcafe47d7fb19...|
|        63|a799fcafe47d7fb19...|
|        67|a799fcafe47d7fb19...|
|        69|a799fcafe47d7fb19...|
|        70|a799fcafe47d7fb19...|
|        71|a799fcafe47d7fb19...|
|        73|a799fcafe47d7fb19...|
|        76|a799fcafe47d7fb19...|
|        77|a799fcafe47d7fb19...|
|        78|a799fcafe47d7fb19...|
|        79|a799fcafe47d7fb19...|
|        80|a799fcafe47d7fb19...|
|        84|a799fcafe47d7fb19...|
|        85|a799fcafe47d7fb19...|
|        86|a799fcafe47d7fb19...|
|        88|a799fcafe47d7fb19...|
|        93|a799fcafe47d7fb19...|
|        95|a799fcafe47d7fb19...|
|        97|a799fcafe47d7fb19...|
|        98|a799fcafe47d7fb19...|
|        99|a799fcafe47d7fb19...|
|       100|a799fcafe47d7fb19...|
|       101|a799fcafe47d7fb19...|
|       102|a799fcafe47d7fb19...|
|       106|a799fcafe47d7fb19...|
|       107|a799fcafe47d7fb19...|
|       111|a799fcafe47d7fb19...|
|       113|a799fcafe47d7fb19...|
|       114|a799fcafe47d7fb19...|
|       115|a799fcafe47d7fb19...|
|       120|a799fcafe47d7fb19...|
+----------+--------------------+
only showing top 50 rows

# **LOAD**
Get the transformed raw data into database. PySpark can easily connect to a database to load the DataFrames into the table.

In [ ]:
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://datavizdb.cju19akozuui.us-west-1.rds.amazonaws.com:5432/mydataclass-db"
config = {"user":"###", 
          "password": "###", 
          "driver":"org.postgresql.Driver"}

In [ ]:
# Write DataFrame to active_user table in RDS
clean_active_user_df.write.jdbc(url=jdbc_url, table='active_user', mode=mode, properties=config)

Py4JJavaError: ignored

In [ ]:
# Write dataframe to billing_info table in RDS
clean_billing_info_df.write.jdbc(url=jdbc_url, table='billing_info', mode=mode, properties=config)

In [ ]:
# Write dataframe to payment_info table in RDS
clean_payment_info_df.write.jdbc(url=jdbc_url, table='payment_info', mode=mode, properties=config)